$todo_color: #2a1c12;
$bg: #bfc0bf;
$title_color: rgb(65, 45, 45);
.TodoItem {
  padding: 8px;
  border-radius: 4px;
  max-width: 95%;
  margin: 8px auto;
  //   border: 3px solid $form_color;
  background-color: $bg;
  color: $todo_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .controls {
    display: flex;
    gap: 8px;
  }
  h2 {
    text-align: center;
    color: $title_color;
    font-size: 34px;
    border-bottom: 2px solid $title_color;
  }
  .todo-btn {
    width: 100px;
    border: none;
    border-radius: 4px;
    color: white;
    &:first-of-type {
      background-color: #dc3545;
    }
    background-color: #007bff;
  }
  .todo-body {
    width: 70%;
    padding: 8px;
  }
  .todo-mark {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .todo-description {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
}

@media screen and (max-width: 550px) {
  .TodoItem {
    .todo-description {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      p {
        padding: 8px 0;
        margin-bottom: 8px;
        border-bottom: 1px solid $title_color;
      }
    }
    .controls {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
  }
}
